<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
<div class="text-danger">
     <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
       <div class="text-center">
         <i class="fas fa-exclamation-triangle fa-5x"></i>
      <h1 class="my-1">Access Denied</h1>
      <p>You do not have permission to view this page.</p>
    </div>
  </div>
</div>


